@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: 'Bebas Neue', cursive; 
} 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h2 {
    font-family: 'Bebas Neue', cursive; 
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');




p {
    font-family: 'Open Sans Condensed', sans-serif; 
}







strong {
    font-family: 'Open Sans Condensed', sans-serif; 
}

u {
    font-family: 'Open Sans Condensed', sans-serif; 
} 








.container{ display: flex; 
justify-content: center;
}

.body{
    background-image: url("Background.jpg");
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover; 
     background-repeat: no-repeat;  
}


.body2{ 
    background-image: url("Background.jpg");
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover; 
     background-repeat: no-repeat;
     height: 100%;  
}






h1 {
    color: rgb(196, 30, 85);
}


h2 {
    color: rgb(196, 30, 85); 
} 


strong {
    color: rgb(36, 14, 85);   
}

u {
    color: rgb(214, 28, 90);    
}






p{
    color:rgb(36, 14, 85); 
    font-size-adjust: 90px;
    margin:10px 10px 10px 10px
}




    a:link,a:visited {
        background-color: rgb(143, 12, 73);
        color: rgb(231, 227, 229); 
        border: 2px solid rgb(148, 148, 231);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }


        a {
            color: rgb(193, 139, 224);
        }
        a:hover,a:active
        {
         background-color:rgb(130, 106, 185);
         color:rgb(109, 29, 82);  
        }

        